
#displayTheEvents{display:none}
#container{display:none}
#modifyEvent{display:none}
body {
	line-height: 1;
	margin: 50px;
}
div {
	background: rgba(0, 0, 0, .1);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 15px;
	width: 1170px;
}
header {
	overflow: clear;
	position: relative;
}
h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 10px;
	text-align: center;
}
button {
	position: absolute;
	top: -4px;
}
button:first-child {
	left: 0;
}
button:last-child {
	right: 0;
}
table {
	background: #fff;
	border-collapse: collapse;
	color: #222;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	width: 100%;
	cursor: pointer;
}
td.calendar{
	border: 1px solid #ccc;
	color: #444;
	line-height: 60px;
	text-align: center;
}
tr.calendar:first-child td {
	color: #222;
	font-weight: 1000;
}
.selected {
	background: #f0951d;
	border: 0;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}
/*h1{
	color: #745518;
	font-family: Belfast SF, serif;
	text-align: center;
}
div
    {
        width: 500px;
        margin: 0 auto;
        padding: 25px;
        background-color: #314471;
        border: 10px #16274E;
        border-style: outset;
    }
div.box{
	background-color: #E7C582;
}
p{
	font-family: Grenoble SF, sans-serif;
	color: #E7C582 ;
	font-size: 25px;
	text-align: center;
	
}
form{
	color: #A8853D;
	font-family:Chiller, serif;
	font-size: 50px;
	text-align: center;
}
*/